{% extends "home/base.html" %}
{% load static %}

{% block title %} Election {% endblock %}
{% block section %}
<section id="main">
    {% if voter.has_voted %}
        <h2>We have already received a ballot from {{voter}}.</h2>
        <p>If you think this is a mistake, please contact us!</p>
    {% else %}
        <h3>Instructions</h3>
        <p>
            For each ballot, under the profile descriptions,
            rank your choices by moving available candidates from
            the left to a sorted position on the right.
            Candidate not ranked will not receive a vote.
        </p>
        <form id="election-form" method="post" action="#">
            {% csrf_token %}
            <div id="accordion-container">
            {% for ballot in election.ballots.all %}
                <button class="accordion">{{ballot}}</button>
                <div>
                    {% include "elections/ballot.html" %}
                </div>
            {% endfor %}
            </div>
            <div class="submit-button">
                <input type="submit" disabled>
            </div>
        </form>
    {% endif %}
</section>
<script>
$("#accordion-container").accordion({
    active: false,
    header: "button",
    heightStyle: "content",
    collapsible: true,
    activate: function( event, ui ) {
        ui.newHeader.addClass("visited")
        if ($(".accordion").length == $(".accordion.visited").length) {
            $(":submit").prop("disabled", false)
        }
    }
});
$("#election-form").submit( () => {
    $("#election-form").find(".ranked-field").each( (i, field) => {
        // we only want to look in .ranked-field, hence the nested loops
        $(field).find(".sortable-option").each( (i, option) => {
            option = $(option)
            const hidden_input = document.getElementById(option.attr("data-input-id"))
            hidden_input.value = option.index()
        })
    })
    return true // allow default submission
});
</script>
{% endblock %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'elections/assets/css/custom.css' %}" />
{% endblock %}
{% block more_js %}
{% comment %} This is loaded first {% endcomment %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{% endblock %}