{% extends "home/base.html" %}
{% load static %}

{% block title %} Election {% endblock %}
{% block section %}
<section id="main">
    <form id="election-form" method="post" action="#">
        {% csrf_token %}
        {% for ballot in election.ballots.all %}
            {% include "elections/ballot.html" %}
        {% endfor %}
        <input type="submit">
    </form>
</section>
<script>
$("#election-form").submit( () => {
    $("#election-form").find(".ranked-field").each( (i, field) => {
        // we only want to look in .ranked-field, hence the nested loops
        $(field).find(".sortable-option").each( (i, option) => {
            option = $(option)
            const hidden_input = document.getElementById(option.attr("data-input-id"))
            hidden_input.value = option.index()
        })
    })
    return true // allow default submission
});
</script>
{% endblock %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'elections/assets/css/custom.css' %}" />
{% endblock %}
{% block more_js %}
{% comment %} This is loaded first {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{% endblock %}