.sortable-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sortable-col-container {
    padding-right: 0;
    margin-right: 15px;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    counter-reset: number 1;
}

.sortable-col {
    height: 100%;
}

.has-placeholder:after {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: rgba(245, 106, 106, 0.1);
    content: "Choice " counter(number);
    text-align: center;
    color: rgba(0,0,0,.25);
}

.sortable-option {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
    cursor: move;
    counter-increment: number;
}

.sortable-option:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.sortable-option:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.submit-button {
    text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
#accordion-container{
    margin-bottom: 2em;
}

.accordion {
    background-color: rgba(245, 106, 106, 0.125);
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.2s;
    height: auto;
    margin: 2px 0 2px 0;
    font-size: 1.25em;
}

.accordion.visited {
    background-color: rgba(145, 245, 106, 0.125);
    box-shadow: inset 0 0 0 2px rgb(71, 121, 52);
    color: rgb(71, 121, 52) !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.ui-state-active, .accordion:hover {
    background-color: rgba(245, 106, 106, 0.3);
}

.accordion.ui-state-active.visited, .accordion.visited:hover {
    background-color: rgba(145, 245, 106, 0.3);
}

.ui-accordion-content {
    margin-bottom: 2em;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.ui-state-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }