.sortable-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sortable-option {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
}

.sortable-option:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.sortable-option:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.sortable-col {
    padding-right: 0;
    margin-right: 15px;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}