{% extends "home/base.html" %}
{% load static %}

{% block master_title %}
    iQuHACK
{% endblock %}

{% block extend_head %}
<meta property="twitter:title" content="iQuHACK" />
<meta property="og:title" content="iQuHACK" />

<meta property="twitter:description" content="iQuHACK (interdisciplinary Quantum HACKathon) is MIT's annual quantum hackathon.">
<meta property="og:description" content="iQuHACK (interdisciplinary Quantum HACKathon) is MIT's annual quantum hackathon." />

<meta property="twitter:image" content="https://www.iquise.mit.edu{% static 'iquhack/images/schrodingersduck.png' %}">
<meta property="og:image" content="https://www.iquise.mit.edu{% static 'iquhack/images/schrodingersduck.png' %}" />

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'iquhack/assets/css/custom.css' %}" type="text/css"></style>

<style type="text/css">
.sponsor.t-platform img {
    height: {{ hackathon.logo_max_height }}px;
    margin: {{ hackathon.logo_max_side_margin }}px {{ hackathon.logo_max_side_margin }}px {{ hackathon.logo_max_bottom_margin }}px;
}
{% for tier, height, side, bottom, tier_sponsors in sponsors %}
.sponsor.t{{ tier.index }} img {
    height: {{ height }}px;
    margin: {{ side }}px {{ side }}px {{ bottom }}px;
}
{% endfor %}
</style>
{% endblock %}

{% block more_js %}
<script src="{% static 'website/assets/js/jquery.min.js' %}"></script>
{% endblock %}

{% block banner %}
<div id="banner-container" class="iquhack">
    <img class="background" alt="Banner" src="{{ hackathon.back_drop_image.url }}">
    {% if hackathon.open %}
    <div id="banner" class="open" onclick="location.href='{{ hackathon.link }}';">
    {% else %}
    <div id="banner" class="">
    {% endif %}
        <p><strong>MIT QUANTUM HACKATHON</strong></p>
        <div class="logo"><h1 class="left"><img alt="iQuHACK" src="{% static 'iquhack/images/logo.svg' %}"></h1><h1 class="right year"> {{ hackathon.start_date| date:'Y' }}</h1></div>
        <p><strong><i>{{ formatted_event_date }}</i></strong></p>
        {% if hackathon.early %}
            <p>Registration Opens on {{ hackathon.opens | date:'l, F jS (P e)' }}</p>
            {% if hackathon.early_note %}
            <p class="note">{{ hackathon.early_note }}</p>
            {% endif %}
        {% elif hackathon.open %}
            <p><strong>Click to Register</strong> by {{ hackathon.deadline | date:'l, F jS (P e)' }}</p>
            {% if hackathon.open_note %}
            <p class="note">{{ hackathon.open_note }}</p>
            {% endif %}
        {% else %}
            <p>Registration Closed</p>
            {% if hackathon.closed_note %}
            <p class="note">{{ hackathon.closed_note }}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}


{% block section %}
<div id="info" class="iquhack">
    <div class='content'>
    <section id="results">
        <h2>Results</h2>
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/394229554?color=FFFFFF&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <p></p>
        <p style="text-align:center"><strong>Check out our <a href="https://github.com/iquhack/2020">Github</a> for this year's submissions!</strong></p>
        <p>If you are interested in sponsoring next year's event, email iQuHACK@mit.edu.</p>
    </section>
    <section id="about">
        <h2>About</h2>
        <p>
            iQuHACK (interdisciplinary Quantum HACKathon) is MIT's first annual quantum hackathon.
            We aim to bring people from a diverse set of backgrounds, including physics, computer science, chemistry, 
            and the arts together to explore improvements and applications of near-term quantum devices.
            As a part of iQuHACK, we are also hosting a workshop on Friday January 31st.
            The workshop is focused on the properties and applications of NISQ devices,
            and is aimed at preparing you for the hackathon.
        </p>
        <p>
            No need to have a background in quantum information! Along with IBM instructors, 
            we will teach you the basics of quantum circuits, algorithms and the types of projects 
            that can be done with IBM's <a href="https://qiskit.org/">Qiskit</a>.
            Your projects will be run on a <strong>real quantum computer</strong> hosted by
            <a href="https://www.ibm.com/quantum-computing/technology/experience/">IBM Q Experience</a>!
        </p>
        <table>
            <tr>
                <td>Tutorials:</td>
                <td>January 31st</td>
            </tr>
            <tr>
                <td>Hackathon:</td>
                <td>February 1st-2nd</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>Campus of the Massachusetts Institute of Technology</td>
            </tr>
        </table>
        <div class="subsection">
            <p><a href="{% static 'iquhack/iQuHACK_schedule.pdf'%}">Hackathon Schedule</a></p>
            <p><a href="{% static 'iquhack/iQuHACK_Guest_Bios.pdf'%}">Hackathon Guests</a></p>
            <p><a href="{% static 'iquhack/Directions_to_iQuHACK.pdf'%}">Directions to Hackathon</a></p>
        </div>
    </section>
    <section id="FAQ">
        <h2>FAQ</h2>
        <ol>
            <li><strong>What is MIT iQuHACK?</strong><br />A <em>hackathon</em> is a focused, multi-day event where participants work collaboratively to create code-based projects. MIT iQuHACK is a hackathon focused on learning what quantum computers are and how to use them. Using Python, can develop anything from quantum games to quantum circuits to quantum algorithms. You will have the opportunity to run your programs on IBM's real quantum processors.</li>
            <li><strong>When and where will MIT iQuHACK happen?</strong><br />MIT iQuHACK will be held February 1-2, 2020 on MIT's campus during the day. There will be optional workshops offered on Friday, January 31, 2020.</li>
            <li><strong>Who can participate in iQuHACK?<br /></strong>iQuHACK is open to all students (high school, undergraduate, and graduate) and non-faculty university affiliates that registered and were confirmed (via email) for the event. No walk-ins will be permitted.</li>
            <li><strong>Do I have to pay to participate at MIT iQuHACK? </strong><br />No, participation in iQuHACK is free! Snacks, drinks, and some meals will be provided for all registrants during the hackathon. Non-registrants can attend the Friday workshops free of charge even if you're not participating in the hackathon.</li>
            <li><strong>What will I eat?</strong><br />We'll provide all meals from Saturday breakfast through Sunday dinner for hackathon participants. We will do our best to accommodate any dietary restrictions. There will also be coffee/snacks throughout the hacking period.</li>
            <li><strong>How do I sign up for MIT iQuHACK?</strong><br />You can sign up at the link <a href="#main">above</a> or directly via this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeBXyHTZdonm1WaYmmmpatC_T406KitsbESp_Xj3in_sGHrNw/viewform">form</a>.</li>
            <li><strong>Are there accommodations available for participants from out of town?<br /></strong>Unfortunately, as this is iQuHACK's first year, we are unable to provide accommodations (including but not limited to transportation and housing).</li>
            <li><strong>What do I get for participating at MIT iQuHACK?</strong><br />MIT iQuHACK's goal is to extend your quantum computing knowledge and give you experience using the world's most advanced quantum computers. You'll get the opportunity to learn from experts and network with other individuals interested in quantum computing. Last but not least, you'll have a shot at winning some cool quantum swag items.</li>
            <li><strong>How can I prepare for MIT iQuHACK?</strong>
                <p>
                    An optional workshop will be offered on Friday, January 31 to provide you with a basic introduction to Qiskit, the Python package needed to compete in MIT iQuHACK. Basic familiarity with Python is required. Additionally, if you are an MIT student, you can enroll in <a href="https://stellar.mit.edu/S/course/6/ia20/6.S089/">6.s089</a>, which is offered over IAP 2020.
                </p>
                You can also prepare on your own using online resources and IBM's tutorials (<a href="https://qiskit.org/">https://qiskit.org/</a>); but remember, in the interest of fairness, you can't start working on your project for the hackathon before it begins!</li>
            <li><strong>What programming languages are allowed?<br /></strong>We highly encourage using Python, as <em><strong>all projects must use IBM's Qiskit</strong></em> Python package which interfaces with their quantum hardware.</li>
            <li><strong>How will the teams be formed?<br /></strong>Teams must have at least 3 members and no more than 5 members. Participants are welcome to form teams on their own prior to the event; however, there will be a period at the beginning of the event for official team formation.</li>
            <li><strong>What should I bring to MIT iQuHACK? </strong><br />Bring a valid student ID or government-issued ID for admission. You should bring a WiFi capable electronic device that will allow you to write python code (e.g. laptop). We would highly recommend that you install and test the <a href="https://qiskit.org/">Qiskit python package</a> ahead of time. If you like to be comfy, consider bringing a pillow or a blanket.</li>
            <li><strong>Who is hosting MIT iQuHACK?<br /></strong>iQuHACK is hosted by MIT's <strong>Interdisciplinary Quantum Information Science and Engineering </strong>(iQuISE) program, a student led organization of graduate students and post-docs with research interests in experimental and theoretical quantum information science, computation, and communication. For more information about iQuISE send an email to <a href="mailto:iquise-exec@mit.edu">iquise-exec@mit.edu</a> or visit <a href="https://www.iquise.mit.edu/">www.iquise.mit.edu</a>.</li>
        </ol>
        <p><strong>More questions? </strong>If you have a question not answered by the FAQs or the introduction <a href="#about">above</a>, feel free to send an email to iquhack@mit.edu.</p>
    </section>
    <section id="sponsors">
    {% if platform_sponsors %}
    <h3>Platform Sponsors</h2>
    <div class="sponsor t-platform">
        {% for sponsor in platform_sponsors %}
        <a href="{{ sponsor.link }}"><img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}"></a>
        {% endfor %}
    </div>
    {% endif %}
    {% if sponsors %}
        <h3>Sponsors</h2>
        {% for tier, height, side, bottom, tier_sponsors in sponsors %}
        <div class="sponsor t{{ tier.index }}">
            {% for sponsor in tier_sponsors %}
            <a href="{{ sponsor.link }}"><img alt="{{ sponsor.name }}" src="{{ sponsor.logo.url }}"></a>
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
    </section>
    <img class="icon" src="{% static 'iquhack/images/schrodingersduck.png' %}" alt="icon">
    </div>
</div>
{% endblock %}
