{% extends "home/base.html" %}
{% load static %}

{% block master_title %}
    iQuHACK
{% endblock %}

{% block extend_head %}
<meta property="twitter:title" content="iQuHACK {{ hackathon.start_date| date:'Y' }}" />
<meta property="og:title" content="iQuHACK {{ hackathon.start_date| date:'Y' }}" />

<meta property="twitter:description" content="iQuHACK (interdisciplinary Quantum HACKathon) is MIT's annual quantum hackathon.">
<meta property="og:description" content="iQuHACK (interdisciplinary Quantum HACKathon) is MIT's annual quantum hackathon." />

<meta property="twitter:image" content="https://www.iquise.mit.edu{% static 'iquhack/images/schrodingersduck.png' %}">
<meta property="og:image" content="https://www.iquise.mit.edu{% static 'iquhack/images/schrodingersduck.png' %}" />

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'iquhack/assets/css/custom.css' %}" type="text/css"></style>

<style type="text/css">
.sponsor.t-platform img {
    height: {{ hackathon.logo_max_height }}px;
    margin: {{ hackathon.logo_max_side_margin }}px {{ hackathon.logo_max_side_margin }}px {{ hackathon.logo_max_bottom_margin }}px;
}
{% for tier, height, side, bottom, _ in sponsors %}
.sponsor.t{{ tier.index }} img {
    height: {{ height }}px;
    margin: {{ side }}px {{ side }}px {{ bottom }}px;
}
{% endfor %}
</style>
{% endblock %}

{% block more_js %}
<script src="{% static 'iquhack/assets/js/custom.js' %}"></script>
{% endblock %}

{% block banner %}
<div id="banner-container" class="iquhack">
    <img class="background" alt="Banner" src="{{ hackathon.back_drop_image.url }}">
    {% if hackathon.open %}
    <div id="banner" class="open" onclick="location.href='{% url 'iquhack:app' hackathon.start_date%}';">
    {% else %}
    <div id="banner" class="">
    {% endif %}
        <p><strong>MIT QUANTUM HACKATHON</strong></p>
        <div class="logo">
            <img alt="iQuHACK" src="{% static 'iquhack/images/logo.svg' %}">
            <h1>{{ hackathon.start_date| date:'Y' }}</h1></div>
        <p><strong><i>{{ formatted_event_date }}</i></strong></p>
        {% if hackathon.early %}
            <p><span>Registration Opens on&nbsp;</span><span>{{ hackathon.opens | date:'l, F jS' }}&nbsp;</span><span>{{ hackathon.opens | date:'(P e)' }}</span></p>
            {% if hackathon.early_note %}<p>{{ hackathon.early_note }}</p>{% endif %}
        {% elif hackathon.open %}
            <p><span><strong>Click to Register</strong> by&nbsp;</span><span>{{ hackathon.deadline | date:'l, F jS' }}&nbsp;</span><span>{{ hackathon.deadline | date:'(P e)' }}</span></p>
            {% if hackathon.open_note %}<p>{{ hackathon.open_note }}</p>{% endif %}
        {% else %}
            <p>Registration Closed</p>
            {% if hackathon.closed_note %}<p>{{ hackathon.closed_note }}</p>{% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}


{% block section %}
<div id="info" class="iquhack">
    <div class='content'>
    {% for title, html_content in sections %}
    <section id="{{ title | lower }}">
        <h2>{{ title }}</h2>
        {{ html_content | safe }}
    </section>
    {% endfor %}
    {% if hackathon.organizing_committee %}
    <section id="organizers">
        <h3><a href="{% url 'members:committee' hackathon.organizing_committee.name %}?date={{hackathon.start_date|date:'Y-m-d'}}">
            {{ hackathon.organizing_committee }} Organizing Committee
        </a></h3>
        <p>
            {% for organizer in hackathon.get_organizers %}
                {{organizer.user}}{% if not forloop.last %},{%endif%}
            {% endfor %}
        </p>
    </section>
    {% endif %}
    <section id="sponsors">
    {% if platform_sponsors %}
    <h3>Platform Sponsors</h2>
    <div class="sponsor t-platform">
        {% for sponsorship in platform_sponsors %}
        <a href="{{ sponsorship.sponsor.link }}"><img alt="{{ sponsorship.sponsor.name }}" src="{{ sponsorship.sponsor.logo.url }}"></a>
        {% endfor %}
    </div>
    {% endif %}
    {% if sponsors %}
        <h3>Sponsors</h2>
        {% for tier, height, side, bottom, tier_sponsorship in sponsors %}
        <div class="sponsor t{{ tier.index }}">
            {% for sponsorship in tier_sponsorship %}
                {% if sponsorship.sponsor.logo %}
                <a href="{{ sponsorship.sponsor.link }}"><img alt="{{ sponsorship.sponsor.name }}" src="{{ sponsorship.sponsor.logo.url }}"></a>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}
    </section>
    <img class="icon" src="{% static 'iquhack/images/schrodingersduck.png' %}" alt="icon">
    {% if last_hackathon %}
        <a href="{%url "iquhack:hackathon" last_hackathon.start_date%}">Go to previous hackathon</a>
    {% endif %}
    </div>
</div>
{% endblock %}
