{% extends "home/base.html" %}

{% block master_title %}iQuHACK - Apps{% endblock %}

{% block section %}
<section id="apps">
<header class="major">
    <h2 style="margin-bottom: 16px">iQuHACK Applications</h2>
</header>
<p>Under construction still...</p>
<p>{{ hackathon.get_apps.count }} <a href="{% url 'admin:iquhack_application_changelist' %}?hackathon__id__exact={{hackathon.id}}">applications</a></p>
<a class="button" href="{% url 'iquhack:download_apps' hackathon.start_date %}">Download CSV</a>

{% comment %} <table>
    <thead>
        <tr>
            {% for q in questions %}<th>{{ q }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in responses %}
            <tr>
                {% for item in r %}<td>{{ item }}</td>{% endfor %}
            </tr>
        {% endfor %}
    </tbody>
  </table> {% endcomment %}
</section>
{% endblock %}