{% extends "home/base.html" %}

{% block title %} - {{ tab_title }}{% endblock %}
{% block section %}
<!-- Section -->
	<section id="form">
		<header class="major">
			<h2 style="margin-bottom: 16px">{{ form_title }}</h2>
		</header>
		<div class="features">
            {% if form %}
            <form method="post" action="#">
                {% csrf_token %}
                <table border="1">
                    {{ form }}
                    {{ formset }}
                </table>
                <button type="submit">Submit</button>
            </form>
            {% endif %}
		</div>
	</section>
{% endblock %}

{% block more_js %}
<script>
    jQuery(document).ready(function() {
        jQuery("input[required]").each(function(index){jQuery(this.labels[0]).addClass("required")});
    })
</script>
{% endblock %}