.clickable-row {
    cursor: pointer;
}

header img {
    margin-bottom: 1em;
}

header .logo {
    width: 200px;
}

.mydot{
     background: #f56a6a;
     border-radius: 50%;
     display: inline-block;
     height: 0.5em;
     margin-left: 0.5em;
     margin-right: 0.5em;
     margin-bottom: 0.125em;
     width: 0.5em;
}

#banner img {
    object-position: left;
}

#footer-sponsors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0;
 }

#footer-sponsors > a > img {
    height: 38px;
    margin: 10px 10px 6px;
}

.im-link {
    border-bottom:none;
}

.close {
    border-bottom:initial;
    float:right;
    position:relative;
    top:50%;
    right: 0.22rem;
    font-size:1.5rem;
    line-height:.9;
    margin-top:-0.611rem;
    padding:0px 6px 4px 6px;
    margin-top:0.375em;
    background:inherit;
}

.notification {
    padding: 2em;
    margin: 2em 2em 0em 2em;
    background-color:#f7c6c6;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.talk {
    width: 100% !important;
    margin:0 0 3em 0 !important;
}
.talk-item {
    margin: 0 0 0.5em 0 !important;
}
.talk-prof {
    display: inline-block;
    width: 125px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 24px;
}

.cancelled {
    color: red;
    font-weight: bold;
}

.admin {
    color: #f56a6a;
}
.admin_edit {
    float: right;
    margin-left: 1em;
}

.important {
    color: red;
    font-weight: bold;
}

.required:before {
    content:"*";
    color:red;
}

.errorlist {
    color:red;
    list-style-position:inside;
    list-style: none;
}
.errorlist > li:before {
    color:red;
    content: '\26A0';
    margin: 0 1em;
}

dl dt {
    color: #3d4449;
}

a.social_media img {
    height: 36px;
    width: 36px;
}

a.social_media {
    border-bottom: none;
}