<div dir=3D"ltr">
    <div style=3D"color:rgb(33,33,33);font-size:13px">
        <a href=3D"https://www.iquise.mit.edu/iQuHACK" style=3D"font-size:large" target=3D"_blank">iQuHACK 2020</a>
        <br>
            <div>
                <font color=3D"#212121" size=3D"6"><b>First Annual Quantum Hackathon!</b></font>
                <br>
            </div>
            <div>
                <font color=3D"#212121" size=3D"4"><b>Hosted by iQuISE</b></font>
                <font color=3D"#212121"><b>[MIT]</b></font>
            </div>
            <br>
            <hr>
            <div style=3D"font-size:12.8px">
                <b>February 1st-2nd, 2020</b>
            </div>
            <div style=3D"font-size:12.8px">
                Workshop on Friday, January 31st
            </div>
            <div style=3D"font-size:12.8px">
                <a href=3D"https://www.iquise.mit.edu/iQuHACK#FAQ" target=3D"_blank">More Info</a>
            </div>
            <hr>
            <br>
        <div>
                iQuHACK (interdisciplinary Quantum HACKathon) is MIT's first annual quantum hackathon.
                We aim to bring people from a diverse set of backgrounds, including physics, computer science, chemistry, and the arts together to explore improvements and applications of near-term quantum devices.
                As a part of iQuHACK, we are also hosting a workshop on Friday January 31st. The workshop is focused on the properties and applications of NISQ devices, and is aimed at preparing you for the Hackathon.
                <br><br>
                No need to have a background in quantum information!
                Along with IBM instructors, we will teach you the basics of quantum circuits, algorithms and the types of projects that can be done with IBM's <a href=3D"https://qiskit.org/">Qiskit</a>.
                Your projects will be run on a real quantum computer hosted by <a href=3D"https://www.ibm.com/quantum-computing/technology/experience/">IBM Q Experience</a>!
            <br>
        </div>
    </div>
</div>