<!DOCTYPE html>
{% load static %}

<html><head>
    <meta charset="UTF-8">
    <title>iQuHACK</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style type="text/css">
    * { margin: 0; padding: 0; }
    body {
      background-color: #1B1820;
      width: 655px;
      height: 511px;
      margin-left: auto;
      margin-right: auto;
    }
    #text {
      display:none;
    }
</style>
<script>window.history.replaceState("", "", '/iQuHACK');</script>
</head>
<body>

<div id="text">iQuHACK: Coming Soon</div>

<img src="{% static 'iquhack/images/coming-soon.png' %}" width="655" height="511">

</body></html>
