.iquhack * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.iquhack h1, .iquhack h2, .iquhack p, .iquhack div, .iquhack li {
    padding-bottom: 1em;
}
.iquhack ul, .iquhack ol {
    padding-left: 2em;
}
.iquhack td {
    padding-right: 1em;
    padding-bottom: 0.5em;
}
#banner {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    opacity: 0.75;
    border-radius: 10px;
    padding: 3em;
    text-align: center;
    transition: 0.3s;
}
#banner h1 {
    margin-top: 0;
}
#banner.open {
    cursor: pointer;
}
#banner.open:hover {
    background-color:#f56a6a;
}
.iquhack .logo{
    display: flex;
    margin-bottom: 1em;
}
.iquhack .logo *{
    font-family: 'Teko', sans-serif;
}
.iquhack .logo .right{
    margin: auto;
    margin-left: 0.2em;
}
.iquhack .logo .left{
    margin: auto;
    margin-right: 0.2em;
}
.iquhack .logo h1 {
    padding: 0;
}
.iquhack .logo .year {
    font-size: 6rem;
}
.iquhack .logo img{
    height: 6rem;
    vertical-align: middle;
}
.iquhack div.content {
    margin: auto;
    max-width: 90vw;
    width: 1000px;
}
#banner-container {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.iquhack .subsection {
    padding: 1em 0;
}
.iquhack .sponsor {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0;
}
.iquhack .sponsor.t1 img {
    height: 50px;
    margin: 12px 12px 8px;
}
.iquhack .sponsor.t2 img {
    height: 38px;
    margin: 10px 10px 6px;
}
.iquhack .background {
    width: 90%;
    max-width: 1000px;
    display: inline-block;
    margin: auto;
}
.iquhack img.icon {
    height: 75px;
    margin: auto;
    display: flex;
}
.iquhack #sponsors a {
    border-bottom: none;
}
@media screen and (max-width:701px) {
    #banner {
    font-size: 0.75rem;
    }
}
@media print  
{
    div, li{
    page-break-inside: avoid;
    }
    section{
    page-break-after: avoid;
    }
}