.iquhack * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.iquhack h1, .iquhack h2, .iquhack p, .iquhack div, .iquhack li {
    padding-bottom: 1em;
}
.iquhack section:first-of-type {
    margin-top: 1em;
}
.iquhack ul, .iquhack ol {
    padding-left: 2em;
}
.iquhack td {
    padding-right: 1em;
    padding-bottom: 0.5em;
}
#banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
img.background{
    width: 100%; /* overridden by iquhack/assets/js/custom.js if browser supports */
    min-width: 100%;
    position: absolute;
    min-height: 100%;
    /* Zoom to center */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#banner {
    display: block;
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    border-radius: 10px;
    padding: 3em;
    text-align: center;
    transition: 0.3s;
    margin: 2em auto 2em auto;
    max-width: 60%;
}
#banner h1 {
    margin-top: 0;
}
/* Enables engineered wordwraps */
#banner span {
    white-space: nowrap;
    display: inline-block;
}
#banner.open {
    cursor: pointer;
}
#banner.open:hover {
    background-color:#f56a6a;
}
.iquhack .logo{
    display: flex;
    margin-bottom: 1em;
}
.iquhack .logo *{
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-size: 4em;
    margin: auto;
    line-height: 1;
}
.iquhack .logo :first-child{
    margin-right: 0.2em;
}
.iquhack .logo :last-child{
    margin-left: 0.2em;
}
.iquhack .logo img{
    height: 1em; /* Wrapped in .year, so use its height */
}
/* I just can't figure out why the text isn't vertically centered. Bruteforce fixed :( */
.iquhack .logo h1{
    padding-top: .15em;
}
.iquhack .subsection {
    padding: 1em 0;
}
.iquhack .sponsor {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0;
}
/* Tiers get added in iquhack.html template */
.iquhack img.icon {
    height: 75px;
    margin: auto;
    display: flex;
}
.iquhack #sponsors a {
    border-bottom: none;
}
@media screen and (max-width:701px) {
    .iquhack .logo * {
    font-size: 2rem;
    }
}
@media print  
{
    div, li{
    page-break-inside: avoid;
    }
    section{
    page-break-after: avoid;
    }
}