{% extends "home/base.html" %}
{% load static %}

{% block extend_head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" href="{% static 'website/assets/css/dataTableCustom.css' %}" />

    <meta property="twitter:title" content="MIT iQuISE Archive" />
    <meta property="og:title" content="MIT iQuISE Archive" />
    <meta property="twitter:description" content="iQuISE is a student led organization of graduate students and post-docs with research interests in experimental and theoretical quantum information science, computation, and communication." />
    <meta property="og:description" content="iQuISE is a student led organization of graduate students and post-docs with research interests in experimental and theoretical quantum information science, computation, and communication." />

    <meta property="og:image" content="https://www.iquise.mit.edu{% static 'website/logos/android-chrome-512x512.png' %}" />
    <meta property="twitter:image" content="https://www.iquise.mit.edu{% static 'website/logos/android-chrome-512x512.png' %}" />
{% endblock %}

{% block title %} - Presentations{% endblock %}
{% block section %}
<!-- Section -->
	<section id="presentations">
		<header class="major">
			<h2 style="margin-bottom: 16px">Past Presentations</h2>
		</header>
		<div class="features">
            {% if presentations %}
                <table id="main_table" class="display responsive" style="width:100%;">
                    <thead>
                        <tr> <!-- data-priority tells datatables which columns to hide first on narrow screens-->
                            <th data-priority="1">Date</th>
                            <th data-priority="4">Session</th>
                            <th data-priority="2">Presenter(s)</th>
                            <th data-priority="3">Title</th>
			                <th data-priority="5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pres in presentations %}{% with event=pres.event.first %}
                            <tr>
                                <td data-order="{{event.date |date:'U'}}">{{event.date |date:'N j, Y'}}</td>
                                <td class='clickable-row' data-href="{% url 'website:presentation' pres.id %}">{{event.session}}</td>
                                <td class='clickable-row' data-href="{% url 'website:presentation' pres.id %}">{{pres.get_presenters}}</td>
                                <td class='clickable-row' data-href="{% url 'website:presentation' pres.id %}">{% if event.cancelled %}<span class="cancelled">CANCELLED</span>{%else%}{{pres.title}}{%endif%}</td>
				                <td> {% if pres.video %} 1 {% else %} 0 {% endif %}</td>
                            </tr>
                        {% endwith %}{% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No past presentations.</p>
            {% endif %}
		</div>
	</section>
{% endblock %}

{% block more_js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" class="init">
$(document).ready(function() {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    var table = $('#main_table').DataTable({
        "pageLength": 25,
        "order": [[ 0, "desc" ]],
        "columnDefs": [
            {"orderable": false, "targets": [1,2,3,4]},
        ],
        "language": {
            "lengthMenu": 'Display <select>'+
                '<option value="10">10</option>'+
                '<option value="25">25</option>'+
                '<option value="50">50</option>'+
                '<option value="100">100</option>'+
                '<option value="-1">All</option>'+
                '</select> records'
      },
    });
    var video_col = table.column(4);
    video_col.visible(false);
    $("#main_table_filter").append(
        "<input type='checkbox' id='has_video'><label id='has_video_label' for='has_video'>Has Recording</label>"
    );
    $("#has_video").change(function(){
        var checked = ""; // Not checked should clear search
        if ( this.checked ){
            checked = "1";
        }
        if ( video_col.search() !== checked ) {
            video_col.search(checked).draw();
        }
    });
    $('#main_table').show();
});
</script>
{% endblock %}
