{% extends "home/base.html" %}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css"/>
<link rel="stylesheet" href="{% static 'website/assets/css/dataTableCustom.css' %}" />
{% endblock %}

{% block title %} - Presentations{% endblock %}
{% block section %}
<!-- Section -->
	<section id="presentations">
		<header class="major">
			<h2 style="margin-bottom: 16px">Past Presentations</h2>
		</header>
		<div class="features">
            {% if presentations %}
                <table id="main_table" class="display responsive" style="width:100%;">
                    <thead>
                        <tr>
                            <th data-priority="1">Date</th>
                            <th data-priority="4">Session</th>
                            <th data-priority="2">Presenter(s)</th>
                            <th data-priority="3">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pres in presentations %}{% with event=pres.event.first %}
                            <tr>
                                <td data-order="{{pres.event.first.date |date:'U'}}">{{event.date |date:'N j, Y'}}</td>
                                <td class='clickable-row' data-href="{% url 'website:presentation' pres.id %}">{{event.session}}</td>
                                <td class='clickable-row' data-href="{% url 'website:presentation' pres.id %}">{{pres.get_presenters}}</td>
                                <td class='clickable-row' data-href="{% url 'website:presentation' pres.id %}">{% if event.cancelled %}<span class="cancelled">CANCELLED</span>{%else%}{{pres.title}}{%endif%}</td>
                            </tr>
                        {% endwith %}{% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No past presentations.</p>
            {% endif %}
		</div>
	</section>
{% endblock %}

{% block more_js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" class="init">
$(document).ready(function() {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    $('#main_table').DataTable({
        "pageLength": 25,
        "order": [[ 0, "desc" ]],
        "columnDefs": [
            { "orderable": false, "targets": [1,2,3]},
        ],
        "language": {
        "lengthMenu": 'Display <select>'+
          '<option value="10">10</option>'+
          '<option value="25">25</option>'+
          '<option value="50">50</option>'+
          '<option value="100">100</option>'+
          '<option value="-1">All</option>'+
          '</select> records'
      },
    });
    $('#main_table').show();
});
</script>
{% endblock %}
