{% extends "home/base.html" %}

{% block title %} - {{presentation.title}}{% endblock %}
{% block banner %}
<section id="banner">
    <div class="content">
        <header>
            <h2>{{ presentation.title }}</h2>
            <p>{{ presentation.presenter }} - {{presentation.affiliation }}</p>
            <p><b>Presentation on {{ presentation.date }}</b></p>
        </header>
        <img class="talk-prof" src="{{ presentation.profile_image_url }}" />
        <p>{{presentation.long_description }}</p>
        {% if presentation.supp_url %}
        <ul class="actions">
            <li><a target="_blank" href="{{presentation.supp_url}}" class="button big">Supplemental Information</a></li>
        </ul>
        {% endif %}
    </div>
</section>
{% endblock %}
