{% extends "home/base.html" %}
{% load static %}

{% block extend_head %}
    <meta property="twitter:title" content="MIT iQuISE: Exec">
    <meta property="og:title" content="MIT iQuISE: Exec" />
    <meta property="twitter:description" content="MIT iQuISE's exec team.">
    <meta property="og:description" content="MIT iQuISE's exec team." />

    <meta property="og:image" content="https://www.iquise.mit.edu{% static 'website/favicon16.png' %}" />
    <meta property="twitter:image" content="https://www.iquise.mit.edu{% static 'website/favicon16.png' %}">
{% endblock %}

{% block title %} - People{% endblock %}
{% block section %}
<!-- Section -->
	<section id="people">
		<header class="major">
			<h2 style="margin-bottom: 16px">iQuISE Exec</h2>
		</header>
		<div class="features">
            {% if people %}
                {% for p in people %}
                    <article>
                        {% if  p.profile.profile_image %}
                            <img class="talk-prof" src="{{ p.profile.profile_image.url }}" />
                        {% else %}
                            <img class="talk-prof" src="{% static 'website/images/default_profile.jpg' %}" />
                        {% endif %}
                        <div class="content">
                            {% if request.user.is_staff %}
                                <h3><a class="admin" href="{% url 'admin:auth_user_change' p.id %}">{{ p }}</a></h3>
                            {% else %}
                                <h3>{{ p }}</h3>
                            {% endif %}
                            <b>{{ p.profile.role }}</b>
                            <p>{{ p.profile.school_status }}</p>
                            {% if p.profile.further_info_url %}
                            <ul class="actions">
                                <li><a target="_blank" href="{{ p.profile.further_info_url }}" class="button small">Learn More</a></li>
                            </ul>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <p>Under Construction. Sorry for the inconvenience!</p>
            {% endif %}
		</div>
	</section>
{% endblock %}
