{% extends "home/base.html" %}
{% load static %}
{% load website_tags %}

{% block title %}{% endblock %}
{% block banner %}
<!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <img src="{% static 'website/images/logo_iquise.png' %}" alt="MIT" border="0" align="absmiddle">
                <p>Interdisciplinary Quantum Information Science and Engineering</p>
            </header>
            {% if iquise %}
                {{iquise.description |safe}}
                {% if request.user.is_staff %}
                    <a class="admin_edit track_last" href={% url 'admin:website_iquise_change' iquise.id %}>edit</a>
                {% endif %}
            {% else %}
                <p>Under Construction. Sorry for the inconvenience!</p>
                {% if request.user.is_staff %}
                    <a class="admin_edit track_last" href={% url 'admin:website_iquise_add' %}>add</a>
                {% endif %}
            {% endif %}
            <ul class="actions">
                <li><a href="#talks" class="button big">Upcoming Talks</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="{% static 'website/images/banner.png' %}" alt="Banner showing quantum information equations on a chalkboard" />
        </span>
    </section>
{% endblock %}

{% block section %}
<section id="talks">
    <header class="major">
        {% if request.user.is_staff %}
            <div>
            {% if session %}
                <a class="admin_edit track_last" href="{% url 'admin:website_session_change' session.id %}">edit</a>
                <a class="admin_edit track_last" href="{% url 'admin:website_presentation_add' %}?session={{session.slug}}">Add Presentation</a>
            {% else %}
                <a class="admin_edit track_last" href="{% url 'admin:website_session_add' %}">add</a>
            {% endif %}
            </div>
        {% endif %}
        <h2 style="margin-bottom: 16px">{% if session %}Talks and Seminars for {{session}}.{% else %}No session scheduled yet, check back later!{% endif %}</h2>
    </header>
    <b>{% if iquise %}{{iquise.default_location}}{% endif %} (Pizza served 15 minutes before the talk)</b>
    {% if request.user.is_staff %}
        {% if iquise %}
            <a class="admin_edit track_last" href={% url 'admin:website_iquise_change' iquise.id %}>edit</a>
        {% else %}
            <a class="admin_edit track_last" href={% url 'admin:website_iquise_add' %}>add</a>
        {% endif %}
    {% endif %}
    <br /><br /><br />
    <div class="features">

        {% for pres in presentations %}
            <article class="talk">
                {% for presenter in pres.presenters.all %}
                    {% if presenter.profile_image %}
                        <img class="talk-prof" src="{{ presenter.profile_image_url }}" />
                    {% else %}
                        <img class="talk-prof" src="{% static 'website/images/default_profile.jpg' %}" />
                    {% endif %}
                {% endfor %}
                <div class="content">
                    <h3>
                    {% if request.user.is_staff %}
                        <a class="track_last" href={% url 'admin:website_presentation_change' pres.id %}>{{ pres.title }}</a>
                    {% else %}
                        {{ pres.title }}
                    {% endif %}

                    </h3>
                    <b>{% for presenter in pres.presenters.all %}
                        {{ presenter }} - {{ presenter.affiliation }} {% if not forloop.last %}<span class="mydot"></span>{%endif%}
                    {% endfor %}</b>
                    <p class="talk-item">{{ pres.short_description }}</p>
                    {% if pres.event.cancelled %}
                    <img src="{% static 'website/images/cancelled.png' %}" alt="cancelled" class="cancelled">
                    {% endif %}
                    {{res.date.time}}
                    {% if pres.event.date.time == iquise.default_time %}
                        <p class="talk-item">{{ pres.event.date | date:'l, N j, Y, P' }}</p>
                    {% else %}
                        <p class="talk-item">{{ pres.event.date | date:'l, N j, Y, ' }}<span class="important">{{ pres.event.date | date:'P' }}</span></p>
                    {% endif %}

                    {% if pres.event.location != iquise.default_location %}
                        <p class="important talk-item">{{ pres.event.location }}</p>
                    {% endif  %}

                    <ul class="actions">
                        <li>
                            <a href={% url 'website:presentation' pres.id %} class="button medium">Learn More</a>
                        </li>
                    </ul>
                </div>
            </article>
        {% empty %}
            <p>No talks currently scheduled.
            </p>
        {% endfor %}
    </div>
</section>
{% endblock %}
