{% extends "home/base.html" %}
{% load static %}
{% load website_tags %}

{% block extend_head %}
    <meta property="twitter:title" content="MIT iQuISE" />
    <meta property="og:title" content="MIT iQuISE" />
    <meta property="twitter:description" content="iQuISE is a student led organization of graduate students and post-docs with research interests in experimental and theoretical quantum information science, computation, and communication." />
    <meta property="og:description" content="iQuISE is a student led organization of graduate students and post-docs with research interests in experimental and theoretical quantum information science, computation, and communication." />

    <meta property="og:image" content="https://www.iquise.mit.edu{% static 'website/logos/android-chrome-512x512.png' %}" />
    <meta property="twitter:image" content="https://www.iquise.mit.edu{% static 'website/logos/android-chrome-512x512.png' %}" />
{% endblock %}

{% block banner %}
<!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <img class="logo" src="{% static 'website/logos/iQuISE_Logo.svg' %}" alt="MIT iQuISE Logo" >
                <p>Interdisciplinary Quantum Information Science and Engineering</p>
            </header>
            {% if iquise %}
                {{iquise.description |safe}}
                {% if request.user.is_staff %}
                    <a class="admin admin_edit track_last" href={% url 'admin:website_iquise_change' iquise.id %}>edit</a>
                {% endif %}
            {% else %}
                <p>Under Construction. Sorry for the inconvenience!</p>
                {% if request.user.is_staff %}
                    <a class="admin admin_edit track_last" href={% url 'admin:website_iquise_add' %}>add</a>
                {% endif %}
            {% endif %}
            <ul class="actions">
                <li><a href="#talks" class="button big">Upcoming Talks</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="{% static 'website/images/banner.png' %}" alt="Banner showing quantum information equations on a chalkboard" />
        </span>
    </section>
{% endblock %}

{% block section %}
<section id="talks">
    <header class="major">
        {% if request.user.is_staff %}
            <div>
            {% if session %}
                <a class="admin admin_edit track_last" href="{% url 'admin:website_session_change' session.id %}">edit</a>
                <a class="admin admin_edit track_last" href="{% url 'admin:website_presentation_add' %}?session={{session.slug}}">Add Presentation</a>
            {% else %}
                <a class="admin admin_edit track_last" href="{% url 'admin:website_session_add' %}">add</a>
            {% endif %}
            </div>
        {% endif %}
        <h2 style="margin-bottom: 16px">{% if session %}{{session}} MIT-CQE iQuISE Seminar Series.{% else %}No session scheduled yet, check back later!{% endif %}</h2>
    </header>
    <b>{% if iquise %}{{iquise.default_location}}{% endif %}</b>
    {% if request.user.is_staff %}
        {% if iquise %}
            <a class="admin admin_edit track_last" href={% url 'admin:website_iquise_change' iquise.id %}>edit</a>
        {% else %}
            <a class="admin admin_edit track_last" href={% url 'admin:website_iquise_add' %}>add</a>
        {% endif %}
    {% endif %}
    <p>For online events, details are sent out the week of the event. <a href={% url 'website:join' %}>Join our community</a> to receive them!</p>
    <br /><br /><br />
    <div class="features">

        {% for pres in presentations %}
            <article class="talk">
                {% for presenter in pres.presenters.all %}
                    {% if presenter.profile_image_thumb %}
                        <img class="talk-prof" src="{{ presenter.profile_image_thumb.url }}" />
                    {% else %}
                        <img class="talk-prof" src="{% static 'website/images/default_profile.jpg' %}" />
                    {% endif %}
                {% endfor %}
                <div class="content">
                    <h3>
                    {% if request.user.is_staff %}
                        <a class="admin track_last" href={% url 'admin:website_presentation_change' pres.id %}>{{ pres.title }}</a>
                    {% else %}
                        {{ pres.title }}
                    {% endif %}

                    </h3>
                    <b>{% for presenter in pres.presenters.all %}
                        {% if request.user.is_staff %}
                            <a class="admin" href="{% url 'admin:website_presenter_change' presenter.id %}">{{ presenter }}</a> - {{ presenter.affiliation }} {% if not forloop.last %}<span class="mydot"></span>{%endif%}
                        {% else %}
                            {{ presenter }} - {{ presenter.affiliation }} {% if not forloop.last %}<span class="mydot"></span>{%endif%}
                        {% endif %}
                    {% endfor %}</b>
                    <p class="talk-item">{{ pres.short_description }}</p>
                    {% if pres.event.first.cancelled %}
                        <span class="cancelled">CANCELLED</span>
                    {% endif %}
                    {{res.date.time}}
                    {% if pres.event.first.date.time == iquise.default_time %}
                        <p class="talk-item">{{ pres.event.first.date | date:'l, N j, Y, P' }}</p>
                    {% else %}
                        <p class="talk-item">{{ pres.event.first.date | date:'l, N j, Y, ' }}<span class="important">{{ pres.event.first.date | date:'P' }}</span></p>
                    {% endif %}

                    {% if pres.event.first.location != iquise.default_location %}
                        <p class="important talk-item">{{ pres.event.first.location }}</p>
                    {% endif  %}

                    <ul class="actions">
                        <li>
                            <a href={% url 'website:presentation' pres.id %} class="button medium">Learn More</a>
                        </li>
                    </ul>
                </div>
            </article>
        {% empty %}
            <p>No talks currently scheduled.
            </p>
        {% endfor %}
    </div>
</section>
{% endblock %}
