{% extends "home/base.html" %}

{% block title %}{% endblock %}
{% block banner %}
<!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>iQuISE</h1>
                <p>Interdisciplinary Quantum Information Science and Engineering</p>
            </header>
            {% if iquise %}
                {{iquise.description |safe}}
                {% if request.user.is_staff %}
                    <a class="admin_edit" href={% url 'admin:website_iquise_change' iquise.id %}>edit</a>
                {% endif %}
            {% else %}
                <p>Under Construction. Sorry for the inconvenience!</p>
                {% if request.user.is_staff %}
                    <a class="admin_edit" href={% url 'admin:website_iquise_add' %}>add</a>
                {% endif %}
            {% endif %}
            <ul class="actions">
                <li><a href="#talks" class="button big">Upcoming Talks</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="/static/images/banner.png" alt="Banner showing quantum information equations on a chalkboard" />
        </span>
    </section>
{% endblock %}

{% block section %}
<section id="talks">
    <header class="major">
        <h2 style="margin-bottom: 16px">Talks and Seminars</h2>
    </header>
    <b>
        {% if iquise %}{{iquise.default_location}}{% endif %} (Pizza served 15 minutes before the talk)
    </b>
    {% if request.user.is_staff %}
        {% if iquise %}
            <a class="admin_edit" href={% url 'admin:website_iquise_change' iquise.id %}>edit</a>
        {% else %}
            <a class="admin_edit" href={% url 'admin:website_iquise_add' %}>add</a>
        {% endif %}
    {% endif %}
    <br /><br /><br />
    <div class="features">

        {% for pres in presentations %}
            {% if forloop.counter0 == 0 %}
                <article class="next">
            {% else %}
                <article class="other">
            {% endif %}
                <img class="talk-prof" src="{{ pres.presenter.profile_image_url }}" />
                <div class="content">
                    <h3>{{ pres.title }}</h3>
                    <b>{{ pres.presenter.full_name }} - {{ pres.presenter.affiliation }}</b>
                    <p>{{ pres.short_description }}</p>
                    {% if pres.date.time == iquise.default_time %}
                        <p>{{ pres.event.date | date:'l, N j, Y, P' }}</p>
                    {% else %}
                        <p>{{ pres.event.date | date:'l, N j, Y, ' }}<span class="important">{{ pres.date | date:'P' }}</span></p>
                    {% endif %}

                    {% if pres.event.location != iquise.default_location %}
                        <p class="important">{{ pres.event.location }}</p>
                    {% endif  %}
                    <ul class="actions">
                        <li>
                            <a href={% url 'website:presentation' pres.id %} class="button medium">Learn More</a>
                        </li>
                        {% if request.user.is_staff %}
                            <a class="admin_edit" href={% url 'admin:website_presentation_change' pres.id %}>edit</a>
                        {% endif %}
                    </ul>

                </div>
            </article>
        {% empty %}
            <p>No talks currently scheduled.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
