{% extends "home/base.html" %}
{% load static %}

{% block title %} - People{% endblock %}
{% block section %}
<!-- Section -->
	<section id="people">
		<header class="major">
			<h2 style="margin-bottom: 16px">iQuISE Leadership</h2>
		</header>
		<div class="features">
            {% if people %}
                {% for p in people %}
                    <article>
                        {% if  p.profile.profile_image_url %}
                            <img class="talk-prof" src="{{ p.profile.profile_image_url }}" />
                        {% else %}
                            <img class="talk-prof" src="{% static 'website/images/default_profile.jpg' %}" />
                        {% endif %}
                        <div class="content">
                            <h3>{{ p }}</h3>
                            <b>{{ p.profile.role }}</b>
                            <p>{{ p.profile.school_status }}</p>
                            {% if p.profile.further_info_url %}
                            <ul class="actions">
                                <li><a target="_blank" href="{{ p.profile.further_info_url }}" class="button small">Learn More</a></li>
                            </ul>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <p>Under Construction. Sorry for the inconvenience!</p>
            {% endif %}
		</div>
	</section>
{% endblock %}
