{% extends "home/base.html" %}
{% load static %}
{% load website_tags %}

{% block extend_head %}
    <meta property="twitter:title" content="iQuISE Seminar" />
    <meta property="og:title" content="Seminar: {{ presentation.title }}" />
    <meta property="twitter:description" content="{{ presentation.title }} - {% for p in presentation.presenters.all %}{{ p }}{% if not forloop.last %}; {% endif %}{% endfor %}" />
    <meta property="og:description" content="{% for p in presentation.presenters.all %}{{ p }}{% if not forloop.last %}; {% endif %}{% endfor %}" />

    {% if presentation.presenters.first.profile_image_thumb %}
      <meta property="og:image" content="https://www.iquise.mit.edu{{ presentation.presenters.first.profile_image_thumb.url }}" />
      <meta property="twitter:image" content="https://www.iquise.mit.edu{{ presentation.presenters.first.profile_image_thumb.url }} " />
    {% else %}
      <meta property="og:image" content="https://www.iquise.mit.edu{% static 'website/logos/android-chrome-512x512.png' %}" />
      <meta property="twitter:image" content="https://www.iquise.mit.edu{% static 'website/logos/android-chrome-512x512.png' %}" />
    {% endif %}
{% endblock %}

{% block title %} - {{presentation.title}}{% endblock %}
{% block banner %}
<section id="banner">
    <div class="content">
    <p>For online events, details are sent out the week of the event. <a href={% url 'members:join' %}>Join our community</a> to receive them!</p>
        <header>
            <h2>{{ presentation.title }}</h2>
            <p>{% for presenter in presentation.presenters.all %}
                {% if request.user.is_staff %}
                    <a class="admin" href="{% url 'admin:website_presenter_change' presenter.id %}">{{ presenter }}</a> - {{ presenter.affiliation }} {% if not forloop.last %}<span class="mydot"></span>{%endif%}
                {% else %}
                    {{ presenter }} - {{ presenter.affiliation }} {% if not forloop.last %}<span class="mydot"></span>{%endif%}
                {% endif %}
            {% endfor %}</p>
            <p><b>Presentation on {{ presentation.event.first.date | date:'l, N j, Y, P' }}</b></p>
            <p><b>Location: {{ presentation.event.first.location }}</b></p>
        </header>
        {% for presenter in presentation.presenters.all %}
            {% if presenter.profile_image %}
                <img class="talk-prof" src="{{ presenter.profile_image.url }}" />
            {% else %}
                <img class="talk-prof" src="{% static 'website/images/default_profile.jpg' %}" />
            {% endif %}
        {% endfor %}
        {% if presentation.event.first.cancelled %}
        <span class="cancelled">CANCELLED</span>
        {% endif %}
        <p>{{presentation.long_description | linebreaksbr }}</p>
        {% if presentation.supp_url %}
        <ul class="actions">
            <li><a target="_blank" href="{{presentation.supp_url}}" class="button big">Supplemental Information</a></li>
        </ul>
        {% endif %}
        {% if presentation.video %}
            {% if request.user.is_staff or presentation.video.public %}
                {% if request.user.is_staff and not presentation.video.public %}
                    <h4 style="text-align: center;color: rgb(245, 106, 106)">This video is private; you are seeing it because you are logged in as staff.</h4>
                {% endif %}
                {{ presentation.video | embedded_video }}
            {% endif %}
        {% endif %}
        {% if request.user.is_staff %}
            <a class="admin_edit" href="{% url 'admin:website_presentation_change' presentation.id %}?session={{presentation.event.first.session.slug}}">edit</a>
        {% endif %}
    </div>
</section>
{% endblock %}
