{% extends "home/base.html" %}

{% block title %} - {{presentation.title}}{% endblock %}
{% block banner %}
<section id="banner">
    <div class="content">
        <header>
            <h2>{{ presentation.title }}</h2>
            <p>{{ presentation.presenter.full_name }} - {{presentation.presenter.affiliation }}</p>
            <p><b>Presentation on {{ presentation.date | date:'l, N j, Y, P' }}</b></p>
            <p><b>Location: {{ presentation.location }}</b></p>
        </header>
        <img class="talk-prof" src="{{ presentation.presenter.profile_image_url }}" />
        <p>{{presentation.long_description }}</p>
        {% if presentation.supp_url %}
        <ul class="actions">
            <li><a target="_blank" href="{{presentation.supp_url}}" class="button big">Supplemental Information</a></li>
        </ul>
        {% endif %}
        {% if request.user.is_staff %}
            <a class="admin_edit" href={% url 'admin:website_presentation_change' presentation.id %}>edit</a>
        {% endif %}
    </div>
</section>
{% endblock %}
