{% extends "home/base.html" %}
{% load static %}
{% load website_tags %}

{% block title %} - {{presentation.title}}{% endblock %}
{% block banner %}
<section id="banner">
    <div class="content">
        <header>
            <h2>{{ presentation.title }}</h2>
            <p>{% for presenter in presentation.presenters.all %}
                {{ presenter }} - {{ presenter.affiliation }} {% if not forloop.last %}<span class="mydot"></span>{%endif%}
            {% endfor %}</p>
            <p><b>Presentation on {{ presentation.event.date | date:'l, N j, Y, P' }}</b></p>
            <p><b>Location: {{ presentation.event.location }}</b></p>
        </header>
        {% for presenter in presentation.presenters.all %}
            {% if presenter.profile_image %}
                <img class="talk-prof" src="{{ presenter.profile_image_url }}" />
            {% else %}
                <img class="talk-prof" src="{% static 'website/images/default_profile.jpg' %}" />
            {% endif %}
        {% endfor %}
        {% if presentation.event.cancelled %}
        <img src="{% static 'website/images/cancelled.png' %}" alt="cancelled" class="cancelled">
        {% endif %}
        <p>{{presentation.long_description }}</p>
        {% if presentation.supp_url %}
        <ul class="actions">
            <li><a target="_blank" href="{{presentation.supp_url}}" class="button big">Supplemental Information</a></li>
        </ul>
        {% endif %}
        {% if request.user.is_staff %}
            <a class="admin_edit" href={% url 'admin:website_presentation_change' presentation.id %}>edit</a>
        {% endif %}
    </div>
</section>
{% endblock %}
