.talk-prof {
    display: inline-block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 24px;
}

.cancelled {
    position: relative;
    height:125px;
    width:auto;
    top:-10px;
    left:-10px;
}

.admin_edit {
    text-align: right;
    float: right;
}

.important {
    color: red;
}

.required:before {
    content:"*";
    color:red;
}

.errorlist {
    color:red;
    list-style-position:inside;
    list-style: none;
}
.errorlist > li:before {
    color:red;
    content: '\26A0';
    margin: 0 1em;
}
