.talk-prof {
    display: inline-block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 24px;
}

.next {
    width: 100% !important;
}

.admin_edit {
    text-align: right;
    float: right;
}

.important {
    color: red;
}
